
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						请输入需要翻译的数字
					</h3>
				</div>
				<div class="panel-body">
					<form role="form" method="post">
				        <div class="form-group">
                             <textarea class="form-control" rows="12" id="translate_input" name="translate_input"></textarea>
                        </div>
				        <button type="submit" class="btn btn-success">翻译</button>
			        </form>
				</div>
			</div>
		</div>
		<!--<div class="col-md-6 column">-->
			<!--<div class="panel panel-default">-->
				<!--<div class="panel-heading">-->
					<!--<h3 class="panel-title">-->
						<!--英文-->
					<!--</h3>-->
				<!--</div>-->
				<!--<div class="panel-body">-->
					<!--<label for="translate_result">翻译结果</label>-->
                             <!--<textarea class="form-control" rows="15" id="translate_result"></textarea>-->
                        <!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	</div>
</div>